.profile__user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 420px;
}

@media (max-width: 425px) {
  .profile__user {
    max-width: 282px;
  }
}
