.popup__submit-button {
  background-color: black;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  padding: 0;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  margin: 25px 0 25px;
  border-radius: 2px;
}

.popup__submit-button:hover {
  opacity: 80%;
  transition: opacity 1s;
}


@media (max-width: 480px) {
  .popup__submit-button {
    font-size: 14px;
    line-height: 17px;
  }
}
