.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  max-width: 380px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 767px) {
  .profile__description {
    margin: 14px auto 0;
  }
}

@media (max-width: 425px) {
  .profile__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
  }
}