.profile__avatar-container {
    grid-area: avatar;
    position: relative;
}

.profile__avatar-container:hover .profile__avatar {
    opacity: 0.2;
    transition: opacity 0.5s ease;
  }
  
  .profile__avatar-container:hover .profile__avatar-edit{
    display: block;
  }