.popup__text-input {
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 6px 0 0;
  padding: 0;
}

.popup__text-input:first-of-type {
  margin: 50px 0 0;
}

@media (max-width: 480px) {
  .popup__text-input:first-of-type {
    margin: 75px 0 0;
  }
}